<div class="container">
  <ul class="collapsible popout" data-collapsible="accordion">
    <% @bulletins.each do |bulletin| %>
        <li>
          <div class="collapsible-header"><%= bulletin.title%></div>
          <div class="collapsible-body"><p>
              <%= bulletin.contents.html_safe %>
          </p></div>
        </li>
    <% end %>
  </ul>
</div>
<script type="text/javascript">
  $(document).on('ready page:load', function () {
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script>