@import "materialize";
.collapsible-header {
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.collapsible-body {
	margin-left: 20px;
	margin-right: 20px;
}
.hidden {
	display: none;
}
.submit-button {
  height: 45px;
  line-height: 10px;
  width: 100%;
}
.form-title {
	background-color: #81D4FA;
	text-align: center;
	color:white;
	height: 80px;
	line-height: 80px;
	margin: 0px -11px 0px -11px;
}
.error-message-box {
	background-color: red;
	color:white;
	.material-icons {
		font-size: 40px;
		margin-top: 5px;
	}
}